name: Publish Docker image

on:
    push:
        branches:
            - main

jobs:
    push_to_regist:
        name: 'Push Docker image to registry - ${{ matrix.php }}-${{ matrix.distro }}'

        strategy:
            fail-fast: false
            matrix:
                php: [ "7.4", "8.0", "8.1" ]
                distro: [ "default", "alpine" ]

        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: Check out the repo
              uses: actions/checkout@v3

            - name: Log in to the Container registry
              uses: docker/login-action
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action
              with:
                  images: |
                      my-docker-hub-namespace/my-docker-hub-repository
                      ghcr.io/${{ github.repository }}

            - name: Build and push Docker images
              if: matrix.distro == "default"
              uses: docker/build-push-action
              with:
                  context: .
                  build-args:
                      PHP_VERSION: ${{ matrix.php }}
                  push: true
                  tags: ${{ matrix.php }}

            - name: Build and push Docker images
              if: matrix.distro != "default"
              uses: docker/build-push-action
              with:
                  context: .
                  build-args:
                      PHP_VERSION: ${{ matrix.php }}-${{ matrix.distro }}
                  push: true
                  tags: ${{ matrix.php }}-${{ matrix.distro }}
